{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet" />
  </head>
  <body class="bg-[#489a46]">
    {% block navbar %} {% include 'navbar.html' %} {% endblock navbar %}
    <div class="px-10 py-8 max-w-md mx-auto bg-[#122813a3] rounded-lg shadow-md border-1 border-[#97d895] mt-25">
      <h2 class="text-lg text-center font-semibold text-white">Organizers will be updated soon!</h2>
    </div>
  </body>
</html>
